.img {
    background-image: url('../assets/imagem/ark-mobile-fundo.jpg');
    height: 100vh;
    width: 100vw;
    background-position: 42%; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1200px) {
    .img {
        background-image: url(../assets/imagem/imagem-ark-fundo.jpg);
    }
}
