.img {
    background-image: url('../assets/imagem/ark-mobile-fundo.jpg');
    min-height: 100vh;
    width: 100%;
    background-position: 42%; 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fixOverlap {
    padding-top: 115px;
}

@media (min-width:992px) {
    .img {
        background-image: url(../assets/imagem/imagem-ark-fundo.jpg);
    }

}
