/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-title: 'Montserrat', sans-serif;
    --letter-color: #89DFF1;
    --border-color: #039696;
    --base-color-opacity: rgba(25, 155, 216, 0.6);
    --base-color: rgb(25, 155, 216);
}


