/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


:root {
    --font-title: 'Montserrat', sans-serif;
    --letter-color: #89DFF1;
    --border-color: #039696;
    --base-color-opacity: rgba(25, 155, 216, 0.6);
    --base-color-button: rgb(5, 62, 98);
    --base-color-button-opacity: rgb(5, 62, 98, 0.8);
}

* {
    font-family: var(--font-title);
    color: var(--letter-color);
}

h1,
h2,
h3 {
    font-weight: bolder;
}

.fundoContent {
    background-color: var(--base-color-button-opacity);
    box-shadow: 0px -188px 200px 0px rgba(0, 0, 0, 0.34) inset;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.boxshadowButtonInput {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.30) inset
}



