.marginTopCelular {
    margin-inline: 0;
}

.marginTopPc {
    display: none;
    margin-inline: 0;

}

.icon-Ark {
    width: 40%;
}

.flexcenter {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin: 0;
}

@media (min-width:1200px) {
    .marginTopPc {
        display: flex;
    }

    .marginTopCelular {
        display: none;
    }

    .icon-Ark {
        width: 20%;
    }
}
