.marginTop {
    margin-top: 100px;
}

.icon-Ark {
    width: 40%;
}

.flexcenter {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin: 0;
}

@media (min-width:768px) {
    .marginTop {
        margin-top: 450px;
    }
}
