
.img {
    padding: 0;
    height: 23vh;
    width: 100%;
}

.limitarLinhas {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
}

.botoes-controle button {
    background: var(--base-color-button-opacity);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
}

.botoes-controle button.ativo {
    background: var(--letter-color);
    cursor: default;
}
