<div class="container">

  <div class="container fundoContent">
    <h1 class="m-2 text-center">Atualizações recentes</h1>
    <div class="container img fundoContent">
      <a href="#">
        <img class="item" [style.backgroundImage]=" 'url(' + imagens[indexImagemAtiva].url +')' ">
        </a>
    </div>
    <h3 class="m-2 text-center"> {{ imagens[indexImagemAtiva].descricao }} </h3>
  </div>

  <div class="botoes-controle">
    <button 
      *ngFor="let imagem of imagens; index as i" 
      [class.ativo]="i === indexImagemAtiva"
      (click)="pararTimer(); ativarImagem(i)">
    </button>
  </div>

</div>