<nav class="nav navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/logos/logo-ark-wiki.png" class="img-fluid logoArk" alt="logo da wiki">
            </div>
            <div class="col-4">
                <input type="text" class="" id="" placeholder="Pesquisar">
            </div>
            <div class="col-4">
                <a class="navbar-brand" href="#">Home</a>
                <a class="navbar-brand" href="#">About</a>
                <a class="navbar-brand" href="#">Review</a>
                <a class="navbar-brand" href="#">Contact</a>
            </div>
        </div>
        
    </div>
</nav>
  