<div class="container">
    <div class="container fundoContent">
        <form class="p-5">
            <h1 class="mb-3">Cadastrar</h1>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="checkbox">
              <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
