
.search {
    color: var(--letter-color);
    border: 2px solid var(--border-color);
    font-weight: bolder;
    background: rgba(12, 109, 154, 0.30);
    font-size: 1.1em;
}

.btn {
    color: var(--letter-color);
    font-weight: bolder;
    font-size: 1.2em;
}

.icone-rede-social {
    border-radius: 5px;
    width: 15%; 
}

.span-svg {
    background: rgba(12, 109, 154, 0.30); 
    border: none; 
}

@media (min-width: 1200px) {
    

    .icone-rede-social {
        width: 10%; 
    }
}


