.fundoContent {
    border: 3px solid var(--border-color);
    background-color: var(--base-color-button-opacity);
}

.search {
    color: var(--letter-color);
    border: 2px solid var(--border-color);
    font-weight: bolder;
    background: rgba(12, 109, 154, 0.30);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.30) inset;
    font-size: 1.1em;
}

.btn {
    background-color: var(--base-color-button-opacity);
    border: 2px solid var(--border-color);
    color: var(--letter-color);
    font-weight: bolder;
    font-size: 1.2em;
}

.icone-rede-social {
    background-color: var(--base-color-button-opacity);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}


