h1 {
    font-size: 3em;
}
.nav-link {
    color: var(--letter-color);
    font-size: 1.3em;
    text-shadow: 0px 4px 4px rgba(2, 65, 99, 0.36);
}

.search {
    border: 2px solid var(--border-color);
    font-weight: bolder;
    color: var(--letter-color);
    background-color: var(--base-color-button);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.30) inset;
    font-size: 1.1em;
}
.search::placeholder {
    color: var(--letter-color);
}

.form {
    position: relative;
}

.btn {
    position: absolute;
    right: -2%;
    top: 4%;
    border: none;
}

 .dropdown-menu {
    padding: 0;
}
.dropdown-item:hover {
    background-color: var(--base-color-opacity);
    box-shadow: 0px -188px 200px 0px rgba(0, 0, 0, 0.34) inset;
    color: var(--letter-color);
    
}
.dropdown-item {
    background-color: var(--base-color-button);
    border: 1px solid var(--border-color);
    font-weight: bolder;
    color: black;
    font-size: 1.1em;
    border-radius: 3px;
}

.buttonCanvas {
    background-color: var(--base-color-button);
    border: 2px solid var(--border-color);
    color: transparent;
}


