.fundoContent {
    border-radius: 0;
}

.nav-item {
    font-size: 1.3em;
}

.nav-item a {
    color: var(--letter-color);
    font-size: 1.3em;
    text-shadow: 0px 4px 4px rgba(2, 65, 99, 0.36);
    font-weight: bolder;
    text-decoration: none;
}


.search {
    border: 2px solid var(--border-color);
    color: var(--letter-color);
    background: rgba(12, 109, 154, 0.30);
    font-weight: bolder;
    font-size: 1.1em;
}

.search::placeholder {
    color: var(--letter-color);
}

.form {
    position: relative;
}

.btn {
    position: absolute;
    right: -2%;
    top: 4%;
    border: none;
}

.buttonCanvas {
    border: 2px solid var(--border-color);
    background: rgba(12, 109, 154, 0.30);
    color: transparent;
}

.dropdown-item:hover {
    background-color: var(--base-color-opacity);
    color: var(--letter-color);
    box-shadow: 0px -188px 200px 0px rgba(0, 0, 0, 0.34) inset;
    
}

.dropdown-item {
    background-color: var(--base-color-button);
    border: 1px solid var(--border-color);
    color: var(--letter-color);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.30) inset;
    font-weight: bolder;
    font-size: 1.1em;
    border-radius: 3px;
}


@media (min-width: 766px) {
    .canvas {
        box-shadow: none;
        margin-left: 7%;
    }

    .dropdown-menu {
        margin-top: 18%;
    }

}
