* {
    font-family: var(--font-title);
    color: var(--letter-color);
}

.navbar {
    background-color: var((--base-color-opacity));
    box-shadow: 0px -188px 200px 0px rgba(0, 0, 0, 0.34) inset;
}
.nav-link {
    font-size: 1.1em;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(2, 65, 99, 0.36);
}

.search {
    color: var(--letter-color);
    border: 2px solid var(--border-color);
    font-weight: bolder;
    background: rgba(12, 109, 154, 0.30);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.30) inset;
}
.search::placeholder {
    color: var(--letter-color);
}

.form {
    position: relative;
    width: 25%;
}
.btn {
    position: absolute;
    right: 0;
    border: none;
}

.dropdown-menu {
    box-shadow: 0px -188px 200px 0px rgba(0, 0, 0, 0.34) inset;
    padding: 0;
    margin-top: 25%;
    
}
.dropdown-item:hover {
    background-color: var(--base-color-opacity);
    
}
.dropdown-item {
    background-color: var(--base-color-opacity);
    font-weight: bolder;
    box-shadow: 0px -188px 200px 0px rgba(0, 0, 0, 0.34) inset;
}



