<div class="container fundoContent">
    <div class="row p-1 d-flex justify-content-center">
        <div class="container row">
            <div class=" col-8 text-center">
                <h4 class="fw-bolder">Olá sobrevivente, cadastre-se para receber as notícias pelo email</h4>
            </div>
            <div class=" col-4">
                <img src="../../../assets/imagem/Mini-HLNA.png" alt="Mini-HLNA" class="HLNA">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                <input type="email" class="form-control input-email" id="email-noticias" placeholder="Email">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-input-email">Enviar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="icones-rede-social">
        
    </div>
    <div class="icones-rede-social">

    </div>
    <div class="icones-rede-social">

    </div>
</div>
