.fundoContent {
    border: none;
    border-radius: 0;
}

.HLNA {
    width: 100%;
}

.input-email {
    border: 2px solid var(--border-color);
    color: var(--letter-color);
    background: rgba(12, 109, 154, 0.30);
    font-weight: bolder;
}

.input-email::placeholder {
    color: var(--letter-color);
}

.btn-input-email {
    border: 2px solid var(--border-color);
    background: rgba(12, 109, 154, 0.30);
    color: var(--letter-color);
    font-weight: bolder;
}

.icone-rede-social {
    width: 35%;
}

.btn-contato {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    color: var(--letter-color);
    font-weight: bolder;
}

.a-rede-social {
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: 2px solid var(--border-color);

}

.footerCelular {
    margin-inline: 0;
}

.footerPc {
    display: none;
    
}

@media (min-width: 992px) {

    .HLNA {
        width: 90%;
    }

    .icone-rede-social {
        width: 20%;
    }

    .footerCelular {
        display: none;
    }

    .footerPc {
        display: flex;
        margin-inline: 0;
    }

}