<div class="row d-flex justify-content-center fundoContent pb-2">
    <div class="row mt-2">
        <div class="col-8 text-center">
            <h4 class="fw-bolder">Olá sobrevivente, cadastre-se para receber as notícias pelo email</h4>
        </div>
        <div class="col-4">
            <img src="../../../assets/imagem/Mini-HLNA.png" alt="Mini-HLNA" class="HLNA">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <input type="email" class="form-control input-email" id="email-noticias" placeholder="Email">
        </div>
        <div class="col-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-input-email">Enviar</button>
        </div>
    </div>
</div>

<div class="row d-flex fundoContent">
    <div class="col-7 d-flex align-items-center justify-content-center">
        <button  class="btn btn-contato">Nos contate</button>
    </div>
    <div class="col-5">
        <div class="row m-3">
            <div class="col-12">
                <a href="#" class="a-rede-social">
                    <img src="../../../assets/icone-rede-social/1-12860_new-instagram-logo-png-transparent-png-format-instagram.png" alt="ícone instagram" class="icone-rede-social m-2">
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="a-rede-social">
                    <img src="../../../assets/icone-rede-social/pngtree-twitter-social-media-round-icon-png-image_6315985.png" alt="ícone twitter" class="icone-rede-social m-2">
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="a-rede-social">
                    <img src="../../../assets/icone-rede-social/Facebook-logo-blue-circle-large-transparent-png.png" alt="ícone facebook" class="icone-rede-social m-2">
                </a>
            </div>
        </div>
    </div>

</div>
