<div class="container fundoContent">
    <div class="row p-1">
        <div class="container col-7 text-center">
            <h4 class="fw-bolder">Receba notícias atualizadas sobre Ark evolved survival e nossa wiki</h4>
        </div>
        <div class="container col-5 d-flex justify-content-end">
            <img src="../../../assets/imagem/Mini-HLNA.png" alt="Mini-HLNA" class="HLNA">
        </div>
        <div class="container row mt-2">
            <div class="col-9">
                <input type="email" class="form-control input-email" id="email-noticias" placeholder="Email">
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-input-email">Enviar</button>
            </div>
        </div>
    </div>
</div>
